[交易_踢脚线.csv]
LABEL=供应商,HEADER=1
SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_踢脚线.csv]
LABEL=采购商,HEADER=1
SKIP,SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_踢脚线.csv]
LABEL=项目,HEADER=1
SKIP,SKIP,SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_踢脚线.csv]
LABEL=交易,HEADER=1
交易ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,产品型号:STRING:OPTIONAL,类别:STRING:OPTIONAL,全名:STRING:OPTIONAL,产品名:STRING:OPTIONAL,使用区域:STRING:OPTIONAL,使用方式:STRING:OPTIONAL,单位:STRING:OPTIONAL,数量:DOUBLE:OPTIONAL,损耗率:DOUBLE:OPTIONAL,综合单价:DOUBLE:OPTIONAL,总价:DOUBLE:OPTIONAL,品牌:STRING:OPTIONAL

[交易_踢脚线.csv]
LABEL=生产,SRC_ID=交易:交易ID,DST_ID=供应商:ID,HEADER=1
交易ID:STRING:SRC_ID,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_踢脚线.csv]
LABEL=采购,SRC_ID=交易:交易ID,DST_ID=采购商:ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_踢脚线.csv]
LABEL=属于,SRC_ID=交易:交易ID,DST_ID=项目:ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,SKIP,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_踢脚线.csv]
LABEL=使用_踢脚线,SRC_ID=交易:交易ID,DST_ID=产品_踢脚线:产品ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,SKIP,SKIP,产品ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[产品_踢脚线.csv]
LABEL=产品_踢脚线,HEADER=1
产品ID:STRING:ID,种类:STRING:OPTIONAL,规格:STRING:OPTIONAL,材质:STRING:OPTIONAL

[交易_瓷砖.csv]
LABEL=供应商,HEADER=1
SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_瓷砖.csv]
LABEL=采购商,HEADER=1
SKIP,SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_瓷砖.csv]
LABEL=项目,HEADER=1
SKIP,SKIP,SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_瓷砖.csv]
LABEL=交易,HEADER=1
交易ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,产品型号:STRING:OPTIONAL,类别:STRING:OPTIONAL,全名:STRING:OPTIONAL,产品名:STRING:OPTIONAL,使用区域:STRING:OPTIONAL,使用方式:STRING:OPTIONAL,单位:STRING:OPTIONAL,数量:DOUBLE:OPTIONAL,损耗率:DOUBLE:OPTIONAL,综合单价:DOUBLE:OPTIONAL,总价:DOUBLE:OPTIONAL,品牌:STRING:OPTIONAL

[交易_瓷砖.csv]
LABEL=生产,SRC_ID=交易:交易ID,DST_ID=供应商:ID,HEADER=1
交易ID:STRING:SRC_ID,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_瓷砖.csv]
LABEL=采购,SRC_ID=交易:交易ID,DST_ID=采购商:ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_瓷砖.csv]
LABEL=属于,SRC_ID=交易:交易ID,DST_ID=项目:ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,SKIP,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_瓷砖.csv]
LABEL=使用_瓷砖,SRC_ID=交易:交易ID,DST_ID=产品_瓷砖:产品ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,SKIP,SKIP,产品ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[产品_瓷砖.csv]
LABEL=产品_瓷砖,HEADER=1
产品ID:STRING:ID,色系:STRING:OPTIONAL,种类:STRING:OPTIONAL,产品规格:STRING:OPTIONAL,切割:STRING:OPTIONAL,吸水率:STRING:OPTIONAL,耐磨等级:STRING:OPTIONAL,破坏强度:STRING:OPTIONAL

[交易_门.csv]
LABEL=供应商,HEADER=1
SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_门.csv]
LABEL=采购商,HEADER=1
SKIP,SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_门.csv]
LABEL=项目,HEADER=1
SKIP,SKIP,SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_门.csv]
LABEL=交易,HEADER=1
交易ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,产品型号:STRING:OPTIONAL,类别:STRING:OPTIONAL,全名:STRING:OPTIONAL,产品名:STRING:OPTIONAL,使用区域:STRING:OPTIONAL,使用方式:STRING:OPTIONAL,单位:STRING:OPTIONAL,数量:DOUBLE:OPTIONAL,损耗率:DOUBLE:OPTIONAL,综合单价:DOUBLE:OPTIONAL,总价:DOUBLE:OPTIONAL,品牌:STRING:OPTIONAL

[交易_门.csv]
LABEL=生产,SRC_ID=交易:交易ID,DST_ID=供应商:ID,HEADER=1
交易ID:STRING:SRC_ID,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_门.csv]
LABEL=采购,SRC_ID=交易:交易ID,DST_ID=采购商:ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_门.csv]
LABEL=属于,SRC_ID=交易:交易ID,DST_ID=项目:ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,SKIP,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_门.csv]
LABEL=使用_门,SRC_ID=交易:交易ID,DST_ID=产品_门:产品ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,SKIP,SKIP,产品ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[产品_门.csv]
LABEL=产品_门,HEADER=1
产品ID:STRING:ID,类别:STRING:OPTIONAL,规格:STRING:OPTIONAL,开关方式:STRING:OPTIONAL,是否含五金:STRING:OPTIONAL,填充物:STRING:OPTIONAL,填充比例:DOUBLE:OPTIONAL,玻璃:STRING:OPTIONAL,颜色:STRING:OPTIONAL,最大甲醛释放量:DOUBLE:OPTIONAL,环保等级:STRING:OPTIONAL,是否包运输:STRING:OPTIONAL,是否包安装:STRING:OPTIONAL,具体尺寸:STRING:OPTIONAL

[交易_开关插座.csv]
LABEL=供应商,HEADER=1
SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_开关插座.csv]
LABEL=采购商,HEADER=1
SKIP,SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_开关插座.csv]
LABEL=项目,HEADER=1
SKIP,SKIP,SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_开关插座.csv]
LABEL=交易,HEADER=1
交易ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,产品型号:STRING:OPTIONAL,类别:STRING:OPTIONAL,全名:STRING:OPTIONAL,产品名:STRING:OPTIONAL,使用区域:STRING:OPTIONAL,使用方式:STRING:OPTIONAL,单位:STRING:OPTIONAL,数量:DOUBLE:OPTIONAL,损耗率:DOUBLE:OPTIONAL,综合单价:DOUBLE:OPTIONAL,总价:DOUBLE:OPTIONAL,品牌:STRING:OPTIONAL

[交易_开关插座.csv]
LABEL=生产,SRC_ID=交易:交易ID,DST_ID=供应商:ID,HEADER=1
交易ID:STRING:SRC_ID,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_开关插座.csv]
LABEL=采购,SRC_ID=交易:交易ID,DST_ID=采购商:ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_开关插座.csv]
LABEL=属于,SRC_ID=交易:交易ID,DST_ID=项目:ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,SKIP,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_开关插座.csv]
LABEL=使用_开关插座,SRC_ID=交易:交易ID,DST_ID=产品_开关插座:产品ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,SKIP,SKIP,产品ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[产品_开关插座.csv]
LABEL=产品_开关插座,HEADER=1
产品ID:STRING:ID,种类:STRING:OPTIONAL,系列:STRING:OPTIONAL,颜色:STRING:OPTIONAL,类型:STRING:OPTIONAL

[交易_地板.csv]
LABEL=供应商,HEADER=1
SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_地板.csv]
LABEL=采购商,HEADER=1
SKIP,SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_地板.csv]
LABEL=项目,HEADER=1
SKIP,SKIP,SKIP,ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_地板.csv]
LABEL=交易,HEADER=1
交易ID:STRING:ID,SKIP,SKIP,SKIP,SKIP,产品型号:STRING:OPTIONAL,类别:STRING:OPTIONAL,全名:STRING:OPTIONAL,产品名:STRING:OPTIONAL,使用区域:STRING:OPTIONAL,使用方式:STRING:OPTIONAL,单位:STRING:OPTIONAL,数量:DOUBLE:OPTIONAL,损耗率:DOUBLE:OPTIONAL,综合单价:DOUBLE:OPTIONAL,总价:DOUBLE:OPTIONAL,品牌:STRING:OPTIONAL

[交易_地板.csv]
LABEL=生产,SRC_ID=交易:交易ID,DST_ID=供应商:ID,HEADER=1
交易ID:STRING:SRC_ID,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_地板.csv]
LABEL=采购,SRC_ID=交易:交易ID,DST_ID=采购商:ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_地板.csv]
LABEL=属于,SRC_ID=交易:交易ID,DST_ID=项目:ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,SKIP,ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[交易_地板.csv]
LABEL=使用_地板,SRC_ID=交易:交易ID,DST_ID=产品_地板:产品ID,HEADER=1
交易ID:STRING:SRC_ID,SKIP,SKIP,SKIP,产品ID:STRING:DST_ID,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP,SKIP

[产品_地板.csv]
LABEL=产品_地板,HEADER=1
产品ID:STRING:ID,材质:STRING:OPTIONAL,产品规格:STRING:OPTIONAL,厚度:DOUBLE:OPTIONAL,单层厚度:DOUBLE:OPTIONAL,最大耐磨转数:DOUBLE:OPTIONAL,最大甲醛释放量:DOUBLE:OPTIONAL,环保等级:STRING:OPTIONAL,静曲强度:DOUBLE:OPTIONAL,最小吸水厚度膨胀率:DOUBLE:OPTIONAL,含运输:STRING:OPTIONAL,含安装:STRING:OPTIONAL
