[vertex.csv]
VERTEX_LABEL=vertex
uri

[bf_usesTag.csv]
EDGE_LABEL=bf_usesTag,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[bf_hasPoint.csv]
EDGE_LABEL=bf_hasPoint,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[rdfs_domain.csv]
EDGE_LABEL=rdfs_domain,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[owl_imports.csv]
EDGE_LABEL=owl_imports,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[rdfs_comment.csv]
EDGE_LABEL=rdfs_comment,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[rdfs_subPropertyOf.csv]
EDGE_LABEL=rdfs_subPropertyOf,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[owl_inverseOf.csv]
EDGE_LABEL=owl_inverseOf,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[rdf_type.csv]
EDGE_LABEL=rdf_type,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[bf_feeds.csv]
EDGE_LABEL=bf_feeds,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[skos_definition.csv]
EDGE_LABEL=skos_definition,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[rdfs_range.csv]
EDGE_LABEL=rdfs_range,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[rdfs_label.csv]
EDGE_LABEL=rdfs_label,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[owl_equivalentClass.csv]
EDGE_LABEL=owl_equivalentClass,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[rdfs_subClassOf.csv]
EDGE_LABEL=rdfs_subClassOf,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[owl_onProperty.csv]
EDGE_LABEL=owl_onProperty,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[bf_usedBy.csv]
EDGE_LABEL=bf_usedBy,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[bf_isPartOf.csv]
EDGE_LABEL=bf_isPartOf,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[bf_contains.csv]
EDGE_LABEL=bf_contains,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[bf_isHierarchical.csv]
EDGE_LABEL=bf_isHierarchical,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[bf_hasPart.csv]
EDGE_LABEL=bf_hasPart,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID

[owl_someValuesFrom.csv]
EDGE_LABEL=owl_someValuesFrom,SRC_ID=vertex:uri,DST_ID=vertex:uri
@SRC_ID,@DST_ID
