VERTEX_LABEL=vertex
uri:STRING:ID

EDGE_LABEL=bf_usesTag
@SKIP

EDGE_LABEL=bf_hasPoint
@SKIP

EDGE_LABEL=rdfs_domain
@SKIP

EDGE_LABEL=owl_imports
@SKIP

EDGE_LABEL=rdfs_comment
@SKIP

EDGE_LABEL=rdfs_subPropertyOf
@SKIP

EDGE_LABEL=owl_inverseOf
@SKIP

EDGE_LABEL=rdf_type
@SKIP

EDGE_LABEL=bf_feeds
@SKIP

EDGE_LABEL=skos_definition
@SKIP

EDGE_LABEL=rdfs_range
@SKIP

EDGE_LABEL=rdfs_label
@SKIP

EDGE_LABEL=owl_equivalentClass
@SKIP

EDGE_LABEL=rdfs_subClassOf
@SKIP

EDGE_LABEL=owl_onProperty
@SKIP

EDGE_LABEL=bf_usedBy
@SKIP

EDGE_LABEL=bf_isPartOf
@SKIP

EDGE_LABEL=bf_contains
@SKIP

EDGE_LABEL=bf_isHierarchical
@SKIP

EDGE_LABEL=bf_hasPart
@SKIP

EDGE_LABEL=owl_someValuesFrom
@SKIP
